


body {
    background-color: #3D3D3D;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    color: #cccccc;
    padding: 0 20px 0 20px;
}

.sentence {
    font-size: 45px;
    letter-spacing: 5px;
}

.title {
    color: antiquewhite;
    margin: 10px;
}

.cursor {
    animation: blink 1.5s linear infinite;
    color: red;
    margin-right: -5px;
    margin-left: -5px;
}

@keyframes blink {
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
}

.input-field {
    opacity: 0;

}
.start-button {
    border-radius: 50px;
}


